#!/bin/sh
set -e
NAME=@NAME@
case "$1" in
  remove|deconfigure)
    if [ -d /run/systemd/system ]; then
        systemctl stop "$NAME.service" >/dev/null 2>&1 || true
        systemctl disable "$NAME.service" >/dev/null 2>&1 || true
    fi
    ;;
esac
exit 0
